<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="E:/Automation Tools/FullAutomation/DataDriven">
        <classes>
            <class name="testNGdataDriven.LoginTest">
                <methods>
                    <include name="loginShouldSuccessed"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>